    :root{
      --primaria:#FF33F0;
      --secundaria:#FF338A;
      --tercearia:#FF338A;
    }

    .lds-roller div:after
    {
      background: var(--primaria);
    }

    .bootstrap-select .dropdown-item.active
    {
      background: var(--secundaria);
      color: #fff;
    }

    .ps-theme-default .dropdown-item span.text
    {
      width: 100% !important;
    }

    .img-radio { 
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    .img-radio + img {
      cursor: pointer;
      width: 100px;
      height: 150px;
    }

    .main-panel>.content
    {
        margin-top: 30px !important;
    }

    .img-radio:checked + img {
      outline: 2px solid var(--primaria);;
    }

    .d-flex
    {
      display: flex !important;
      align-items: center !important;
    }

    .card-collapse .card-header a:active, 
    .card-collapse .card-header a:hover, 
    .card-collapse .card-header a[aria-expanded=true]
    {
      color: var(--primaria);
    }

    .ck-content
    {
      height: 200px;
    }

    .legenda-status
    {
      width: 10px;
      height: 10px;
      float: left;
      border-radius: 50%;
      margin-right: 10px;
    }

    .sidebar-mini .sidebar
    {
      z-index: 8888;
    }

    .zoom img
    {
      max-width: 100%;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      width:180px; 
      height:180px; 
      padding:5px; 
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      cursor: pointer;
    }

    .zoom, .zoomFile
    {
      padding: 5px;
    }

    .zoom:hover img,
    .zoomFile:hover img
    {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    .zoomFile img
    {
      max-width: 100%;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      width:150px; 
      height:150px; 
      padding:5px;           
      cursor: pointer;
    }

    .zoomFile
    {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      margin-left: 10px;
    }

    .sidebar .user .photo img
    {
      width: 100%;
      height: 100%;
    }

    .sidebar .logo
    {
      display: grid;
      justify-items: center;
    }

    .dropdown-menu .status
    {
      font-size: small;
      margin: 5px;
    }

    @media only screen and (max-width: 1366px)
    {
      #agenda-buttons .fc-button-group .fc-button
      {
        margin-top: 10px;
      }

      #agenda-buttons .fc-button-group
      {
        display: grid;
        width: 100%;
      }
    }

    .tt-suggestion:hover
    {
      cursor: pointer;
      color: #fff;
      background-color: var(--secundaria);
    }

    .email li a i
    {
      display: inline-block !important;
      font-size: 14px !important;
      padding: 0 !important;
    }

    .logo .logo-mini
    {
      width: 34px;
      height: 34px;
      overflow: hidden;
      z-index: 5;
      border-radius: 50%;
      box-shadow:0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)
    }

    .logo .logo-mini img
    {
      width: 100%;
      height: 100%;
    }

    .fileinput .thumbnail > img
    {
      width: 100px;
      height: 100px;
    }

    .fc-button
    {
      outline: none !important;
    }

    .card-profile 
    .card-avatar img, 
    .card-testimonial .card-avatar img
    {
      width: 90px;
      height: 90px;
    }

    .sidebar .user .photo img
    {
   /* width: 45px;
   height: 35px;*/
 }

 .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: var(--secundaria);
}

.img-thumbnail
{   
  border-radius: 50% !important; 
  padding: 0px !important; 
  background-color: #fafafa;
  border: 1px solid #dee2e6;
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.fotoPerfil
{   
  border-radius: 50%;
  width: 180px;
  height: 180px; 
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.fotoLogo
{   
  border-radius: 50%;
  width: 180px;
  height: 180px;  
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
} 

.swal-text {
 text-align: center;
}

.text-bold
{
  font-weight: bold;
}

.display-none
{
  display: none;
}

.display-block
{
  display: block;
}

.div-actions a
{
  margin: 0 !important;
  padding: 5px !important;
}

.hr-sansiq
{
  width: 100%;
  border: 0.5px solid #ccc;
}

.bottom-sansiq{
  display: none;
  z-index: 1; 
  background-color: #ffffff; 
  height: 180px; 
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.grey{
  color: #696969!important;
}

.md-caption{
  font-size: 12px;
  letter-spacing: .02em;
}

.md-body{
  font-weight: 400;
  letter-spacing: .01em;
}

div label{
 font-weight: bold;
}

.help-block{
 color: #a94442;
}

.nav-bar-sansiq{
  border-radius: 0 !important;
}

.bootstrap-select{

}

.pagination>.page-item.active>a,
.pagination>.page-item.active>a:focus,
.pagination>.page-item.active>a:hover,
.pagination>.page-item.active>span,
.pagination>.page-item.active>span:focus,
.pagination>.page-item.active>span:hover
{
  background-color:var(--secundaria);
  border-color:var(--primaria);
  color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.is-focused [class*=" bmd-label"], 
.is-focused [class^=bmd-label]
{
  color: var(--primaria);
}

.is-focused [class*=" bmd-label"], 
.is-focused [class^=bmd-label]
{
  color: var(--primaria);
}

.has-danger [class*=" bmd-label"],
.has-danger [class^=bmd-label] {
  color: #f44336;
}

.bootstrap-datetimepicker-widget a[data-action]
{
  padding:0;
  margin:0;
  border-width:0;
  background-color:transparent;
  color: var(--secundaria);
  box-shadow:none
}

.bootstrap-datetimepicker-widget a[data-action]:hover span
{
  background-color:#eee;
  color: var(--secundaria);
}

.bootstrap-datetimepicker-widget table td.today>div:before
{
  content:"";
  display:inline-block;
  border:5px solid transparent;
  border-bottom-color: var(--secundaria);
  position:absolute;
  bottom:4px;
  right:4px
}

.bootstrap-datetimepicker-widget table td.active:hover>div,
.bootstrap-datetimepicker-widget table td.active>div
{
  background-color: var(--secundaria);
  color:#fff;
  box-shadow:0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,0,0,.4)
}

.bootstrap-datetimepicker-widget table td span.active
{
  background-color: var(--secundaria);
  color:#fff
}

.fc button, 
.fc button.active, 
.fc button.active:focus, 
.fc button.active:hover, 
.fc button.btn-primary, 
.fc button.btn-primary.active, 
.fc button.btn-primary.active:focus, 
.fc button.btn-primary.active:hover, 
.fc button.btn-primary:active, 
.fc button.btn-primary:active:focus, 
.fc button.btn-primary:active:hover, 
.fc button.btn-primary:focus, 
.fc button.btn-primary:hover, 
.fc button:active, 
.fc button:active:focus, 
.fc button:active:hover, 
.fc button:focus, 
.fc button:hover, 
.open>.fc button.btn-primary.dropdown-toggle, 
.open>.fc button.btn-primary.dropdown-toggle:focus, 
.open>.fc button.btn-primary.dropdown-toggle:hover,
.open>.fc button.dropdown-toggle, 
.open>.fc button.dropdown-toggle:focus, 
.open>.fc button.dropdown-toggle:hover
{
  background-color: var(--primaria);
  color: #fff;
}

.fc button.btn-primary:active, 
.fc button.btn-primary:focus, 
.fc button.btn-primary:hover, 
.fc button:active, 
.fc button:focus, 
.fc button:hover 
{
  box-shadow: 0 14px 26px -12px rgba(0,0,0,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}    

.thead-inverse th{
 color:#fff;
 background-color:#292b2c
}

.form-control::placeholder
{
  color:#6c757d;
  opacity:1;
}

.form-control,
.is-focused .form-control
{
  background-image:linear-gradient(0deg, var(--primaria) 2px,
    rgba(156,39,176,0) 0),
  linear-gradient(0deg,#d2d2d2 1px,
    hsla(0,0%,82%,0) 0);
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus,
.dropdown-menu a:hover
{
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
  background-color: var(--primaria);
  color: #fff;
}

.card-header .card-header-primary
{
  background-color: var(--primaria) !important;
}

.card.bg-primary,
.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-primary .back,
.card.card-rotate.bg-primary .front
{
 background: linear-gradient(60deg, var(--primaria) , var(--secundaria)) !important;
}

.sidebar li.nav-item>a:hover
{
  background-color:var(--primaria);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
}
.card [class*=card-header-] {
  margin: 0 15px;
  padding: 0;
  position: relative;
}

.card .card-header-rose .card-icon,
.card .card-header-rose .card-text,
.card .card-header-rose:not(.card-header-icon):not(.card-header-text)
{
  box-shadow:0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,0,0,.4)
}

.btn.btn-primary
{
  color:#fff;
  background-color:var(--primaria);
  border-color:var(--secundaria);
  box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
}

.btn.btn-primary.focus,
.btn.btn-primary:focus,
.btn.btn-primary:hover
{
  color:#fff;
  background-color:var(--secundaria);
  border-color:var(--primaria);
}

.btn.btn-primary.active,
.btn.btn-primary:active,
.open>.btn.btn-primary.dropdown-toggle,
.show>.btn.btn-primary.dropdown-toggle
{
  color:#fff;
  background-color:var(--primaria);
  border-color:var(--secundaria);
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.open>.btn.btn-primary.dropdown-toggle.focus,
.open>.btn.btn-primary.dropdown-toggle:focus,
.open>.btn.btn-primary.dropdown-toggle:hover,
.show>.btn.btn-primary.dropdown-toggle.focus,
.show>.btn.btn-primary.dropdown-toggle:focus,
.show>.btn.btn-primary.dropdown-toggle:hover
{
  color:#fff;
  background-color:var(--primaria);
  border-color:var(--secundaria);
}

.open>.btn.btn-primary.dropdown-toggle.bmd-btn-icon
{
  color:inherit;
  background-color:var(--primaria);
}

.open>.btn.btn-primary.dropdown-toggle.bmd-btn-icon:hover
{
  background-color:var(--secundaria);
}

.btn.btn-primary.disabled.focus,
.btn.btn-primary.disabled:focus,
.btn.btn-primary.disabled:hover,
.btn.btn-primary:disabled.focus,
.btn.btn-primary:disabled:focus,
.btn.btn-primary:disabled:hover
{
  background-color:var(--primaria);
  border-color:var(--secundaria);
}

.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover
{
  box-shadow:0 14px 26px -12px rgba(0,0,0,.42),
  0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}

.btn.btn-primary.btn-link
{
  color:var(--primaria);
}

.btn.btn-primary.btn-link:active,
.btn.btn-primary.btn-link:focus,
.btn.btn-primary.btn-link:hover
{
  background-color:#fafafa;
  color:var(--primaria);
  box-shadow: none;
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: var(--tercearia);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4);
}

.nav-item-sansiq .active{
  border-bottom: 2px solid var(--secundaria) !important;
}

.nav-link-sansiq
{
  box-shadow: none !important;
  background-color: transparent !important;
  color: var(--secundaria) !important;
  border-radius: 0 !important;
}

.form-check .form-check-input:checked~.circle {
  border-color: var(--primaria);
}

.form-check .form-check-label .circle .check {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: var(--primaria);
  transform: scale3d(0,0,0);
}

.bootstrap-select .btn.dropdown-toggle.select-with-transition {
  border: 0!important;
  background-image: linear-gradient(0deg, var(--primaria) 2px,rgba(0,0,0,0) 0),
  linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);

  background-size: 0 100%,100% 100%;
  background-repeat: no-repeat;
  background-position: bottom,50% calc(100% - 1px);
  background-color: transparent!important;
  transition: background 0s linear!important;
  float: none!important;
  box-shadow: none!important;
  border-radius: 0!important;
  color: #3c4858!important;
  height: 34px;
  padding-left: 0!important;
  padding-bottom: 5px!important;
}

.lds-roller {
  position: absolute;
  z-index: 1300;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
}
div.tudo{
  position: fixed;
  display: block;
  margin:auto;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
  background-color: black;
  top: 0;
}

#chat_users .card
{
  background: var(--primaria) !important;
}

#chat_users .card .contact:hover
{
  background: var(--tercearia) !important;
}

#chat_users .card .contact.active
{
  background: var(--tercearia) !important;
  border-right: 5px solid var(--primaria) !important;
}

#chat_users .card .contact.active span.contact-status
{
  border: 2px solid var(--tercearia) !important;
}

#chat_users .card .contact .wrap span
{
  background: #95a5a6;
}

.sent_msg p
{
  background: var(--primaria) none repeat scroll 0 0 !important;
}